body{
    padding: 0;
    margin: 0;
    background-color: white;
    height: 100vh;
}

.home{
    width: 100%;
    height: 100%;
}

.header{
    height: 10vh;
    background-color: black;
}

.nav{
    height: 60%;
    width: 100%;


}
@media only screen and (max-width: 380px) {
    .navbar {
        height: 100%;
        width: 29.33%;
        float: left;
        padding: 3.5% 2%;

    }

}
@media only screen and (min-width: 380px) and (max-width: 500px) {
    .navbar {
        height: 100%;
        width: 29.33%;
        float: left;
        padding: 1.5% 2%;

    }
}

.left {
    text-align: left;
}

.middle {
    text-align: center;
}

.right {
    text-align: right;
}