<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/nav.css" type="text/css">
    <link rel="stylesheet" href="../../css/menu.css" type="text/css">
</head>
<body>
    <script type="text/javascript">
        function goBack(){
            console.log("Go back...");
            history.go(-1);
        }
    </script>
    
    <div class="home">
        <div class="header">
            <div class="nav">

                <div class="left navbar"><a href="javascript:goBack()"><img src="../../bilder/icon-back.svg" height="100%"></a></div>
                <div class="middle navbar"><img src="../../bilder/logo.svg" height="100%"></div>
                <div class="right navbar"></div>
            </div>

        </div>

        <div class="content">
            <div class="headline">M E N U</div>
            <hr />
            <a href="../pages/home.html"><button class="form">H O M E</button></a>
            <a href="../pages/ranking.html"><button class="form">R A N K I N G</button></a>
            <a href="../pages/friends.html"><button class="form">F R I E N D S</button></a>

            <a href="../pages/calender.html"><button class="form">C A L E N D E R</button></a>
        </div>

    </div>

</body>
</html>