

@media only screen and (max-width: 380px) {
    .crown {
        width: 80vw;
        margin: 10% auto 0 auto;
    }

    .score {
        text-align: center;
        font-family: Helvetica;
        font-size: 5vh;
    }
}


@media only screen and (min-width: 380px) and (max-width: 500px) {
    .crown {
        width: 80vw;
        margin: 10% auto 0 auto;
    }

    .score {
        text-align: center;
        font-family: Helvetica;
        font-size: 5vh;
    }
}



