<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../css/home.css" type="text/css">
    <link rel="stylesheet" href="../../../css/nav.css" type="text/css">
    <link rel="stylesheet" href="../../../css/menu.css" type="text/css">
    <meta charset="UTF-8">
</head>
<body>

<script type="text/javascript">
    function goBack(){
        console.log("Go back...");
        history.back();
    }
</script>

    <div class="home">

        <ul class="nav">
            <li class="navbar"><a class="navblock" href="javascript:goBack()"><img src="../../../bilder/icon-back.svg" class="navicon"></a></li>
            <li class="navbar"><a class="navblock"><img src="../../../bilder/logo.svg" class="navicon"></a></li>
            <li class="navbar"><a class="navblock"><img src="../../../bilder/transparent.png" class="navicon"></a></li>
        </ul>

        <div class="content">
            <div class="headline">I M P R E S S U M</div>
            <hr />

            <div style="text-align: center">Mitwirkende Personen</div>
            <br />
            <i>Design:</i><br />
            Emma Groos, Michelle Tremer<br />
            <br />
            <i>Frontend Entwicklung:</i><br />
            Chantal Mielenz <br />
            <br />
            <i>Backend Ewicklung:</i> <br />
            Ruben Kaiser, Max Jendrall<br />

            <hr />
        </div>

    </div>

</body>
</html>