<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../css/nav.css" type="text/css">
    <link rel="stylesheet" href="../../../css/menu.css" type="text/css">
</head>
<body>
    <script type="text/javascript">
        function goBack(){
            console.log("Go back...");
            history.back();
        }
    </script>
    
<div class="home">

    <ul class="nav">
        <li class="navbar"><a class="navblock" href="javascript:goBack()"><img src="../../../bilder/icon-back.svg" class="navicon"></a></li>
        <li class="navbar"><a class="navblock"><img src="../../../bilder/logo.svg" class="navicon"></a></li>
        <li class="navbar"><a class="navblock"><img src="../../../bilder/transparent.png" class="navicon"></a></li>
    </ul>

    <div class="content">
        <div class="headline">S E T T I N G S</div>
        <hr />
        <a href="profileSettings.html"><button class="form">P R O F I L E - S E T T I N G S</button></a>
            <a href="about.html"><button class="form">A B O U T - M O T I V A T I O N A L</button></a>
        <a href="impressum.html"><button class="form">I M P R E S S U M</button></a>


    </div>

</div>

</body>
</html>