<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="../../css/login.css" rel="stylesheet" type="text/css">
    <!--<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"> -->
    <!-- <meta http-equiv="refresh" content="2; URL=login.html"> SWeiterleitung zum Loginscreen-->
    <title>Motivational</title>
    <script src="../../js/server.js"></script>
    <script type="text/javascript">
        
        function signup(){
            var email = document.getElementById("email").value;
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            
            var http = new XMLHttpRequest(); 
            var data ={};
            data.name=username;
            data.email=email;
            data.password=password;
            data.profileImg="no pic";
            console.log(data);
            console.log(serveradress);
            http.open("POST", serveradress, true);

            http.setRequestHeader("Content-type", "application/json");

            http.onreadystatechange = function() {//Call a function when the state changes.
        if(http.readyState === 4 && http.status === 200) {
            console.log(http.responseText);
            window.location = "../pages/home.html";
            }
        }
        http.send(JSON.stringify(data));
        
            
        }
        
       
    </script>
    
</head>
<body>
<div class="content">
    <div class="logo">
        <img src="../../bilder/signup.png" alt="MOTIVATIONAL" width="100%">
    </div>
    <div class="placeholder"></div>
    <div class="sign"> <!--Register Fenster-->
        <input type="email" id="email" class="form" placeholder="E M A I L">
        <input type="text" id="username" class="form" placeholder="U S E R N A M E">
        <input type="password" id="password" class="form" placeholder="P A S S W O R D">

        <button onClick="signup()" class="form button">LET'S GET MOTIVATIONAL</button>
        <div class="text other"><a href="login.html" style="color:black; text-decoration:none;">- L O G - I N -</a></div>
        <div class="text"><a href="forgotPassword.html" style="color:black; text-decoration:none;">- F O R G O T - P A S S W O R D -</a></div>
    </div>
    <div class="">

    </div>
</div>

</body>
</html>
