<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../css/nav.css" type="text/css">
    <link rel="stylesheet" href="../../css/rank.css" type="text/css">
    <meta charset="UTF-8">
</head>
<body>
    <div class="home">

        <ul class="nav">
            <li class="navbar"><a class="navblock" href="../menu/menu.html"><img src="../../bilder/menu-icon.svg" class="navicon"></a></li>
            <li class="navbar"><a class="navblock"><img src="../../bilder/logo.svg" class="navicon"></a></li>
            <li class="navbar"><a class="navblock" href="../menu/settings/settings.html"><img src="../../bilder/settings-icon.svg" class="navicon"></a></li>
        </ul>

        <div class="content">
            <div class="headline">F R I E N D S</div>
            <hr />

            <div class="ranking">

                <div class="rank"> <!--15%-->

                </div>
                <div class="friendname"> <!--60%-->
                    <b>NAME</b>
                </div>
                <div class="rankscore"> <!--25%-->
                    <b>SCORE</b>
                </div>
            </div>
            <hr />


        </div>

    </div>

</body>
</html>