<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../css/home.css" type="text/css">
    <link rel="stylesheet" href="../../css/nav.css" type="text/css">
    <meta charset="UTF-8">
</head>
<body>
    <div class="home">

        <div class="header">
            <div class="nav">

                <div class="left navbar"><a href="../menu/menu.html"><img src="../../bilder/menu-icon.png" height="100%"></a></div>
                <div class="middle navbar"><img src="../../bilder/logo.svg" height="100%"></div>
                <div class="right navbar"><a href="../menu/settings/settings.html"><img src="../../bilder/settings-icon.png" height="100%"></a></div>
             </div>

        </div>


        <div class="crown">
            <img src="../../bilder/CROWN.png" width="100%">
            <div class="score">50</div>
            <hr />
        </div>
    </div>

</body>
</html>